$background-color:  #F7F7F7;
$foreground-color:  #FFFFFF;
$text-color:        #454545;

$flash-error-color: #D96A77;

$nav-divider-color: #D6D6D6;
$nav-active-color: #1ABB9C;

$h2-divider-color: $nav-divider-color;
$odd-row-color: $background-color;
